.row#project_settings
  .col-md-3
    .panel.panel-default
      / Default panel contents
      .panel-heading
        %h3.panel-title= t('options')
      -# .panel-body
      / List group
      %ul.list-group
        %li.list-group-item
          =link_to t('helper.back'), project_path(params[:username], @project.name)
  .col-md-9
    - if @project.errors.any?
      .alert.alert-danger{:role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        - @project.errors.each do |attr, message|
          = message
    .panel.panel-default
      / Default panel contents
      .panel-heading
        %h3.panel-title= t('settings')
      .panel-body
        = form_for @project, url: project_settings_path do |f|
          %dl
            %dt= t('profiles.name')
            %dd= f.text_field :name, class: 'form-control', placeholder: t('project.name')
            %dt= t('profiles.url')
            %dd= f.url_field :url, class: 'form-control', placeholder: t('project.url')
          %p
            = f.submit t('helper.update'), class: 'btn btn-success'
    -# danger
    - if @project.errors.any?
      .alert.alert-danger{:role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        - @project.errors.each do |attr, message|
          = message
    .panel.panel-danger
      / Default panel contents
      .panel-heading
        %h3.panel-title= t('helper.danger')
      .panel-body
        %h4.pull-left.text-danger
          = t('project.del_description')
        %p.pull-right
          = button_to t('helper.delete'), project_settings_path, method: :delete, class: 'btn btn-danger pull-right', data: { confirm: "Are you sure?" }