.panel.panel-default
  / Default panel contents
  .panel-heading= t('options')
  -# .panel-body
    -# %p ...
  / List group
  %ul.list-group
    %li.list-group-item
      = link_to project_editor_path do
        %span.octicon.octicon-pencil
        &nbsp;
        = t('helper.edit')
    %li.list-group-item
      = link_to project_settings_path do
        %span.octicon.octicon-tools
        &nbsp;
        = t('settings')