- if @project.errors.any?
  .alert.alert-danger{:role => "alert"}
    %button.close{"data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
      %span.sr-only Close
    - @project.errors.each do |attr, message|
      = message
      %br/
= form_for(@project, url: new_path, html: { :multipart => true}) do |f|
  %p
    = f.text_field :name, class: 'form-control', placeholder: t('project.name')
  %p
    = f.text_field :url, class: 'form-control', placeholder: t('project.url')
  .row
    .col-md-6.pull-right
      .pull-right
        = link_to 'Back', home_path(current_user.username), class: 'btn btn-default'
        = f.submit class: 'btn btn-success'