#project-nav
  .page-header
    .row
      / Page header, center on small screens
      %h3.col-xs-12.col-sm-6.text-left-sm
        %i.fa.fa-css3.page-header-icon
        \&nbsp;
        = link_to @current_page_user.username, home_path(@current_page_user.username)
        \/
        = link_to @project.name, project_path(@current_page_user.username, @project.name)
        %small
          \-
          = link_to @project.url, @project.url
        - if @project.from_project
          .fork-details
            %small
              forked from
              = link_to "#{@project.from_project.user.username} / #{@project.from_project.name}", project_path(@project.from_project.user.username, @project.from_project.name)
      .col-xs-12.col-sm-6.text-right
        = button_to project_star_path, method: :get, remote: true, id: "star", class: "btn btn-flat btn-labeled #{star}" do
          %span.btn-label.icon.octicon.octicon-star
            &nbsp;
            Star
          %span#star_count
            = @star_project_count
        &nbsp;&nbsp;&nbsp;&nbsp;
        = link_to project_fork_path, class: "btn btn-flat btn-labeled btn-default" do
          %span.btn-label.icon.octicon.octicon-repo-forked
            &nbsp;
            Fork
          %span#fork_count
            = @fork_count